* {
  margin: 0;
}

body {
  margin: 0px !important;
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.ctn {
  position: fixed;
  transition: 1s cubic-bezier(0.81, 0.08, 0.27, 1.03);
}

.outer {
  position: relative;
}

.title-ctn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-family: "Raleway", sans-serif;
}

.front {
  color: rgb(59, 59, 59);
}

.back {
  color: white;
}

.nav {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  left: 20px;
  z-index: 99;
}

li {
  font-size: 20px;
  list-style-type: none;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
}

li::before {
  transition: 0.5s;
  content: "";
  display: inline-block;
  margin-right: 15px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: rgb(80, 80, 80) solid 1px;
  background-color: transparent;
}

.li-active::before {
  background-color: rgb(80, 80, 80);
}

.list-ctn {
  cursor: pointer;
}
